/*Global Styles*/
body, html {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2.6em;
  margin-top: 0px;
  padding-top: 40px;
  color: rgba(247, 239, 204, 0.945);
}

h3 {
  padding-top: 20px;
  margin: 0;
  text-align: center;
  color: rgba(247, 239, 204, 0.945);
  font-size: 2em;
}

/*NAVIGATION*/
#navbar {
  background-color: black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

#navbar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#navbar ul li {
  padding: 15px 5px;
  text-transform: uppercase;
}

#navbar a {
  color: rgba(255, 255, 255, 0.534);
  text-decoration: none;
  font-size: 120%;
}

#navbar a:hover {
  font-weight: bold;
  color: rgba(247, 239, 204, 0.945);
  background-color: rgba(247, 124, 75, 0.199);
}

/*WELCOME PAGE*/
#welcome-section {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(-150deg, rgba(233, 99, 45, 0.87), rgba(14, 13, 13, 0.493)), url("../pictures/backgroundImage3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#welcome-section h1, #welcome-section h3 {
  padding: 10px;
  margin: 0;
}

/*PROJECTS SECTION*/
#projects {
  width: 100vw;
  background-image: url("../pictures/stars.jpg");
  padding-bottom: 20px;
}

#projects #portfolioDisplay {
  max-width: 80%;
  margin: 0 auto;
  width: 100%;
}

#projects #portfolioDisplay p {
  font-size: 1.3em;
  color: rgba(255, 255, 255, 0.534);
}

#projects #portfolioDisplay ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#projects #portfolioDisplay ul li {
  height: 270px;
  width: 270px;
  margin-bottom: 10px;
  border: 2px solid rgba(247, 239, 204, 0.945);
  text-align: center;
  background-color: #584657;
}

#projects #portfolioDisplay ul li:hover {
  background-color: rgba(247, 124, 75, 0.199);
}

#projects #portfolioDisplay ul li a {
  text-decoration: none;
}

#projects #portfolioDisplay ul li div {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#projects #portfolioDisplay ul li div img {
  width: 100%;
  height: 70%;
  margin: 0;
}

/*CONTACT SECTION*/
#contact {
  height: 15vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #b40505;
}

#contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact div p {
  color: rgba(255, 255, 255, 0.534);
  padding: 0;
}

#contact div i {
  position: relative;
  left: 30px;
}

@media (max-width: 700px) {
  body {
    font-size: 90%;
  }
}

@media (max-width: 550px) {
  body {
    font-size: 80%;
  }
}
/*# sourceMappingURL=style.css.map */