@import url("https://use.fontawesome.com/releases/v5.0.10/css/all.css");

h1 {
    font-family: sans-serif;
    font-weight: 400;
    margin-right: auto;
}
nav {
    background-color: rgba(206, 206, 104, 0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    #cart {
        font-size: 115%;
        color: white;
        position: relative;
        margin-right: 20px;
        span {
            position: absolute;
            top: 0;
            right: 0;
            background-color: hsla(180, 81%, 31%, 0.993);
            transform: translate3d(50%, -50%, 0);
            border-radius: 100px;
            padding: 4px 5px 2px;
            font-size: 65%;
        }
    }
    button {
        background-color: hsla(0, 0%, 100%, .2);
        border: 1px solid white;
        color: white;
        height: 45px;
        cursor: pointer;
    }
}
h3, p {
    margin: 0px 10px 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
li {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    flex: none;
    margin: 10px 10px 0 0;
    cursor: pointer;
    &.selected {
        background-color: rgba(206, 206, 104, 0.747);
        border-radius: 4px;
    }
    input {
        position: relative;
        z-index: -999;
    }
    img {
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 10px;
        box-sizing: border-box;
        background-color: black;
    }
    
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
