//Global Style Page

$white: rgba(255, 255, 255, 0.534);
$red: rgba(247, 124, 75, 0.87);
$black: rgba(14, 13, 13, 0.493);

body {
    color: rgba(247, 239, 204, 0.945);
    // background-image: linear-gradient(-150deg, $red, $black), url('../../pictures/backgroundImage3.jpg');
    // background-repeat: no-repeat;
    // background-position: center center;
    // background-size: cover;
    // background-attachment: fixed;
    margin: 0;
    padding: 0;
}
a {
    color: $white;
    text-decoration: none;
    font-size: 120%;
}
a:hover{
   font-weight: bold;
   color: rgba(247, 239, 204, 0.945);
   background-color: rgba(247, 124, 75, 0.199);
} 

nav {
    text-transform: uppercase;
}

nav#dropdown {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
        li {
            padding: 15px 5px;
           
        }
    }
}










