h1 {
    text-align: center;
}

main.background {
    width: 60vw;
    font-size: 120%;
    margin: 20px auto;
    background: linear-gradient(90deg, rgba(78, 122, 64, .7), rgba(236, 126, 62, 0.6));
    // border: 15px solid rgba(170, 122, 160, 0.164);
    border-radius: 5px;
    margin-bottom: 0;
    padding: 20px;

    
    h3 {
        padding-top: 20px;
        margin:0;
        text-align: center;
    }
    p {
        color: rgb(10, 10, 10);
        text-shadow: 1px 2px 8px rgb(104, 73, 73);
        
        padding: 10px;
    }
}
ul.page {
    color: rgb(10, 10, 10);
    margin: 0;
    text-shadow: 1px 2px 8px  rgb(104, 73, 73);
    li {
        font-size: 90%;
        padding: 10px;
        text-transform: none;
    }
}
ol {
    li {
        font-size: 110%;
    }
}
h3{
    color: rgba(247, 227, 216, 0.734)
}