
// SET UP FIRST GRID
.profileDisplay{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "words1 words1 img-area  words2 words2"
    "hobby-area hobby-area . edu-area edu-area";
}
.img-area{
    grid-area: img-area;
    justify-content: left;
}
.about-area{
  grid-area: about-area;
}
.edu-area{
    grid-area: edu-area;
}
.hobby-area{
    grid-area: hobby-area;
}
.words1 {
    grid-area: words1;
}
.words2 {
    grid-area: words2;
}
// END GRID


//SET DISPLAY FOR PORTFOLIO
.portfolioDisplay {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    div {
        div {
            height: 20vh;
            width: 20vw;
            background-color: grey;
            margin: 10px;
            margin-bottom: 80px;
        }
    }
    .row1, .row2, .row3 {
        display: flex;
        justify-content: space-between;
    }

   
}
.portfolioDisplay {
   
}
// END PORTFOLIO DISPLAY


//STYLE BY CLASS
.words1 {
    transform: rotate(-35deg);
}
.words2 {
    transform: rotate(35deg);
}
.education {
    // background-Color: white;
    max-width: 40vw;
    margin: 20px;
    font-size: 1.5em;
    ul {
        color: white;
        margin: 0;
        text-shadow: 1px 2px 8px  rgb(104, 73, 73);
        li {
            font-size: 90%;
            padding: 10px;
            text-transform: none;
        }
    }
    ol {
        li {
            font-size: 110%;
        }
    } 
}
.hobbies {
    // background-color: white;
    max-width: 40vw;
    margin: 20px;
    position: relative;
    bottom: 80px;
    p {
        color: white;
    }
}
.about {
    position: relative;
    top: 40px;
}


// STYLE BY ID
#about {
    color: black;
    text-align: center; 
    font-size: 3em;
    position: relative;
    margin: 0;
}
#portfolio {
    color: black;
    text-align: center; 
    font-size: 3em;
    position: relative;
    margin: 0;
}
#pic1 {
    margin: 20px;
}
#me {
    display: block;
    max-width: 200px;
    border-radius: 100%;
    margin: 0 auto;
}

// ELEMENT STYLES

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgba(247, 227, 216, 0.734);
    margin-top: 10px;
    padding-top: 40px;
}
h2 {
    font-size: 2em;
    text-align: center;
    color: red;
    padding: 20px;
}
h3 {
    padding-top: 20px;
    margin:0;
    text-align: center;
    color: rgba(247, 227, 216, 0.734);
    font-size: 2em;
}
p {
    color: rgb(10, 10, 10);
    text-shadow: 1px 2px 8px rgb(104, 73, 73);
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 1.5em;
}
div.github {
    a {
        font-size: 1em;
        text-decoration: underline;
        color: rgba(0, 0, 255, 0.603);
    }
}



footer {
    height: 15vh;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: black;
    position: relative;
    bottom: 0px;
    div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    p {
        color: white;
        padding: 0;
    }
i{
    position: relative;
    left: 30px;
}

}

