html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(247, 157, 21, 0.849), rgb(218, 193, 53), rgba(247, 82, 6, 0.781));
    background-repeat: no-repeat;   
    text-align: center;
}
header {
    width: 80vw;
    margin: 0 auto;
}
main {
    width: 90%;
}
button {
    border: none;
    font-size: 20px;
    font-family: serif;
}
.display {
    display: block;
}
.textBoxes {
    width: 100%;
    ul {
        padding: 0;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        li {
            display: flex;
            flex-direction: column;
            padding: 20px;
        }
    }
    div {
        display: flex;
        justify-content: center;
    }
   
    
}
.beginning {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    select, button {
        width: 15vw;
        margin: 5px 0px;
    
    }
    button {
        margin-left: 45%;
    }
    
}

.noDisplay {
    display: none;
}

 
