//LAYOUT WITHOUT GRID

.profileDisplay {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}


// // SET UP FIRST GRID (move image under profileDisplay in index.html)
// .profileDisplay{
//     display:grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
//     grid-template-areas: 
//     ". . img-area  . ."
//     "hobby-area hobby-area . edu-area edu-area";
// }
// .img-area{
//     grid-area: img-area;
//     justify-content: left;
// }
// .about-area{
//   grid-area: about-area;
// }
// .edu-area{
//     grid-area: edu-area;
// }
// .hobby-area{
//     grid-area: hobby-area;
// }
// // END GRID


//SET DISPLAY FOR PORTFOLIO
.portfolioDisplay {
    max-width: 80%;
    margin: 0 auto;
    width: 100%;
    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        li {
            height: 200px;
            width: 200px;
            margin-bottom: 10px;
            border: 2px solid white;
            text-align: center;
            div {
                height: 100%;
                width: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                padding: 20px;
                box-sizing: border-box;
                img {
                    width: 100%;
                    max-height: 50%;
                    margin: 0;
                    box-sizing: border-box;
                }
                h3 {
                    font-size: 110%;
                    
                }
            
            }

        }

   
    }
}
// END PORTFOLIO DISPLAY

//CREATE TRANSITION BOX
.transition {
    display: flex;
    width: 100%;
    height: 20vh;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(180deg, rgb(17, 13, 15), rgb(141, 31, 31), rgb(17, 13, 15));
    
}
//STYLE BY CLASS

.education {
    max-width: 40vw;
    margin: 20px;
    background-color: rgba(156, 116, 116, 0.253);
    border-radius: 30px;
    ul {
        color: rgb(141, 31, 31);
        margin: 0px;
        text-shadow: 1px 2px 8px  rgb(141, 39, 39);
        font-size: 120%;
        li {
            padding: 10px;
            text-transform: none;
        }
    }
    ul.page {
        list-style-type: disc;
    }
}
.hobbies {
    max-width: 40vw;
    margin: 20px;
    position: relative;
    bottom: 80px;
    background-color: rgba(156, 116, 116, 0.253);
    border-radius: 30px;
    p {
        text-indent: 30px;
    }

}
.about {
    position: relative;
    top: 40px;
}

.title {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1, h3 {
        padding: 10px;
        margin: 0;
    }
}
.background {
    background-image: url("../../pictures/stars.jpg");
}
.backgroundMain {
    background-image: linear-gradient(-150deg, rgba(233, 99, 45, 0.87), rgba(14, 13, 13, 0.493)), url('../../pictures/backgroundImage3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.background2 {
    background-color: rgb(8, 8, 8);
}

// STYLE BY ID

#portfolio {
    position: relative;
    margin: 0;
}
#pic1 {
    margin: 20px;
}
#me {
    display: block;
    width: auto;
    max-width: 15%;
    height: auto;
    border-radius: 100%;
    margin: 0 auto;
}



// ELEMENT STYLES

h1 {
    text-align: center;
    font-size: 2.6em;
    margin-top: 0px;
    padding-top: 40px;
}
p {
    // color: rgba(255, 255, 255, 0.534);
    color: rgb(141, 31, 31);
    text-shadow: 1px 2px 8px rgb(141, 39, 39);
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    font-size: 1.5em;
}

h3 {
    padding-top: 20px;
    margin:0;
    text-align: center;
    color: rgba(247, 239, 204, 0.945);
    font-size: 2em;
}

div.github {
    a {
        font-size: 1em;
        text-decoration: underline;
        color: rgba(0, 0, 255, 0.603);
    }
}

footer {
    height: 15vh;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(180, 5, 5);
    position: relative;
    bottom: 0px;
    div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    p {
        color:rgba(255, 255, 255, 0.534);
        padding: 0;
    }
i{
    position: relative;
    left: 30px;
}

}
@media (max-width: 1000px) {
    body {
        font-size: 90%;
    }
}
@media (max-width: 905px){
    .profileDisplay {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .hobbies {
        top: 20px;
        max-width: 70vw;
    }
    .education {
        max-width: 70vw;
    }
}
@media (max-width: 700px) {
    body {
        font-size: 80%;
    }
}
@media (max-width: 538px) {
    body {
        font-size: 75%;
    }
    p {
        font-size: 90%;
        line-height: 20px;
    }
    .education {
        ul {
            font-size: 90%;
        }
    }
    .portfolioDisplay ul li {
        height: 130px;
        width: 130px;
        div h3{
            font-size: 90%;
        }
    }
}