//create color variables (only with scss)
$ignite: hsl(191, 58%, 42%);
$classic: hsl(11, 58%, 42%);
$black: hsl(204, 6%, 17%);

header {
    display: flex;
    overflow: hidden;
    background-color: $black;
    position: relative;
    height: 200px; 
}

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

h1 {
    margin: 0;
}
.skew {
    //tilts object from center by default
    transform: skew(-45deg);
    //set an x-y point where you want to skew from
    transform-origin: left bottom;
    width: 50vw;
}

.ignite {
    background-color: $ignite;
 
}

.classic {
    background-color: $classic;
    background-image: url("../images/classic-ribbon.svg");
    background-size: 100px;
    background-repeat: repeat-y;
}

.text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    color: white;
    // background-color: transparentize(lightblue, .4);
}

.logo {
    flex: none;
    width: 200px;
    height: 100%;
    img {
        width: 50%;
    }
}

.marquee {
    display:flex;
    margin-left: -75px;
    align-items: center;
    h1 {
        text-shadow: 0 0 30px transparentize(black, 0.5);
    }
}

//hides header colors when print
@media print {
    header {
        font-size: 20px;
        height: 500px;
        background-color: black;
    }

    .skew {
        display: none;
    }
}

@media screen and (orientation: portrait) {
   .ignite {
       background-color: red;
   }
   .classic {
       background-color: blue;
   }
}

@media screen and (max-width: 472px) {
    h1 {
        font-size: 75%;
    }
}

@media screen and (max-width: 300px) {
    h1 {
        font-size: 150%;
    }
}