body {
    background-color: rgb(85, 87, 87);
}
h3{
    color: hsl(4, 10%, 17%);
}
header.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px dotted black;
    p{
        margin-left: 0;
        font-size: 80%;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        text-align: center;
    }
}
div.resume {
    width: 70vw;
    margin: 0 auto;
    margin-top: 120px;
    background-color: rgba(233, 227, 221, 0.76);
    color: rgb(26, 17, 17);
    padding: 20px;
    border: 10px solid rgb(129, 129, 128);
    border-bottom: none;
    border-radius: 10px;
}
.borders {
   border-bottom: 2px dotted black;
   padding: 4px;
}


.center {
    width: 50vw;
    margin: 0 auto;
    li {
        list-style-position: outside;
    }
}
#phone {
    border-bottom: 1px solid black;
}
#email {
    border-bottom: 1px solid black;
}

//add media quaries for screen resizing
@media (max-width:10000px) {
    .resume {
        font-size: 140%;
    }
}
@media (max-width:1170px) {
    .resume {
        font-size: 125%;
    }
}
@media (max-width: 900px) {
    .resume {
        font-size: 100%;
    }
}
@media (max-width:690px) {
    // nav {
    //     font-size: 90%;
    // }
    header.info {
        display: flex;
        flex-direction: column;
        #phone, #email {
            position: relative;
            bottom: 15px;
            order: 2;
            padding: 0;
            margin: 5px 0;
        }

    }
}
@media (max-width:560px) {
    .resume {
        font-size: 85%;
    }
    // nav {
    //     font-size: 80%;
    // }
    header.info {
        display: flex;
        flex-direction: column;
        #phone, #email {
            position: relative;
            bottom: 15px;
            order: 2;
            padding: 0;
            margin: 5px 0;
        }

    }
}
//end media quaries for screen resizing
//PRINTING MEDIA QUARIES
@media print {
    body{
        background-color: none;
    }
    .resume {
        background-color: none;
        border: none;
    }
}
