body {
    margin: 0;
    background-image: url("../img/stars.jpg");
    background-size: cover;
    color: white;
}
img {
    width: 100%;
}
div {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    font-size: 3em;
}
p {
    position: relative;
    display: none;
    z-index: 200;
    width: 100%;
}
.pDisplay {
    p {
        display: block;
    }
}
.planets {
    height: 100%;
}

//MERCURY VENUS EARTH
.group1{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
//NEPTUNE URANUS SATURN
.group2 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
//MARS  JUPITER
.group3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


//IMAGES IN ORDER OF BIGGEST TO SMALLEST
#sun {
    max-width: 45vw;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
#jupiter {
    width: 20vw;
    position: relative;
    top: 100px;
    left: 60px;
   
}
#saturn {
    width: 45vw;
    z-index: 100;
    top: 50px;
}

#uranus {
    width: 15vw;
    z-index: 100;
    position: relative;
    top: 190px;
    left: 80px;
}
#neptune {
    width: 13vw;
    position: relative;
    top: 60px;
}
#earth {
    width: 8vw;
}
#venus {
    width: 9vw;
    position: relative;
    left: 30px;
    // z-index: 100;

}
#mars {
    width: 3vw;
    position: relative;
    right: 100px;
    top: 100px;
}
#mercury {
    width: 2.5vw;
    position: relative;
    left: 20px;
    bottom: 10px;
}
.noDisplay {
    display: none;
}
.clicked {
    width: 45vw !important;
    top: auto !important; 
    right: auto !important;
    bottom: auto !important;
    left: auto !important;
    margin:  0 auto;
    position: relative !important;
    
}